{% extends 'base.html' %}

{% block title %} Users {% endblock %}

{% block content %}
 <h1>Users Page</h1>


    Hello

    <form action="/assignment9" method="GET">
        <br><br>
        <label for="search"> Search </label>
        Email:
        <input type="email" name="email" placeholder="Email address?">
        <br><input type="submit">
    </form>


    {% if search %}
           <h4>Below is the result of your search:</h4>
           {% for u in users %}
               {% if u.email == search %}
                   <h3>Name:{{ u.name }} Email: {{ u.email }}</h3>
               {% endif %}
           {% endfor %}
           {% endif %}
           {% if search =='' %}
                <h4>Below is the result of your search:</h4>
               <ol>
                {% for u in users %}
                    <li> {{ u }} : {{ users[u]['name'] }}, {{ users[u]['email'] }}</li>
                {% endfor %}
               </ol>
           {% endif %}

    <h4> Registration </h4>
    {% if session.name %}
        <h4>Hello {{ session.name }}</h4>
        <form method="GET" action="/logout">
            <input type="submit" value="Log Out">
        </form>
        <br><br>
    {% else %}
        <form action="/assignment9" method="POST">
            Email:
            <input type="email" id="name" name="email" placeholder="What's your name?" required><br>
            Password:
            <input type="password" id="email" name="password" placeholder="What's your email?">
            <br><input type="submit">
        </form>
    {% endif %}

{% endblock %}