{% extends 'base.html' %}

{% block title %} Assignment11 {% endblock %}

{% block content %}

        <script src="../static/Assignment11.js"></script>

        <h3> Frontend </h3>
        <input type="number" name="number" id="number"/>
        <button onclick="myFunction()">Click Here</button>

        <h3>  Backend </h3>
        <form action="/Assignment11/outer_source" method="get">
            <input type="number" name="number" id="b_number">
            <input type="submit" value="Click Here">
        </form>

        <br><br>
        <main>
            {% if user %}
                <img src="{{ user.avatar }}" alt="Profile Pic"/>
                <div>
                    <span>{{ user.first_name + " " + user.last_name }}</span>
                    <br>
                    <a href="mailto:{{ user.email }}">Send email</a>
                    <br><br>
                </div>
            {% endif %}
        </main>


{% endblock %}